<div class="notifications">
  <div *ngFor="let notification of notifications" class="notification">
    <ng-container *ngTemplateOutlet="notificationTpl;context:{notification:notification}"></ng-container>
  </div>
</div>

<ng-template #notificationTpl let-notification="notification">

  <div class="message">
    {{notification.message}}
  </div>
  <button class='notification__btn' (click)="close(notification)">
    <span class="material-symbols-outlined">close</span>
  </button>

</ng-template>
