<div class='modal'>
  <form class='modal__container'>
    <input
      class='modal__field modal__name'
      type='text'
      placeholder='Board name'
      [formControl]='inputName' #name required>
    <span
      class='modal__field'
      role='textbox'
      *ngIf='isNewItem'
      contenteditable
      #boardDescriptionView></span>
    <span class='modal__field' *ngIf='!isNewItem'>{{ board.data.description }}(only for read)</span>
    <button
      type='submit'
      class='modal__btn'
      *ngIf='isNewItem'
      (click)='addBoard()'
      [disabled]='!inputName.valid'>
      Create new board
    </button>
    <button type='submit' class='modal__btn' *ngIf='!isNewItem' (click)='editBoard()'>Edit</button>
    <span class="material-symbols-outlined modal__close" (click)='closeMe()'>close</span>
  </form>
</div>
