.prompt {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #1f2937;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  min-width: 350px;

  &__container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: blur(12px);
  }

  &__text {
    margin-bottom: 20px;
    text-align: center;
  }

  &__buttons-container {
    display: flex;
  }

  &__btn {
    flex: 1;
    border: none;
    margin-right: 20px;
    height: 35px;
    border-radius: 8px;
    font-size: 16px;
    color: white;

    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }

    &_success {
      background-color: red;
    }

    &_reject {
      background-color: #09a1ff;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__close {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 46px;

    &:hover {
      cursor: pointer;
    }
  }
}
