.sort-panel {
  display: flex;

  &__filtering {
    width: 200px;
    height: 35px;
    border-radius: 10px;
    margin-right: 40px;

    &:hover {
      cursor: pointer;
    }
  }

  &__input {
    border: 1px solid black;
    padding-left: 10px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border-radius: 10px;
    border: 1px solid black;
    margin-right: 30px;
    padding: 0 5px;

    &:last-child {
      margin-right: 0;
    }

    &:disabled {
      background-color: #eaeaea;
    }
  }
}
